# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# Environment variables
.env
assets/.env

# OS
.DS_Store
Thumbs.db
